@use "../global";

header {
  background: #bb2339;
  height: 100px;
}

.hero__container {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;

  .tellus--link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .set--limk {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0.04em;
      color: #ffffff;
    }
  }
  .btn__bt {
    display: flex;
    padding: 10px 30px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    align-items: center;
    color: #ffffff;
    background: #bb2339;
  }

  .btn__bt:hover {
    background: red;
  }
}

.in__container {
  padding-top: 70px;
  background: #e5e5e5;
  text-align: center;
  h1 {
    padding: 10px 0;
    font-family: "Cera Round Pro";
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: capitalize;
    font-feature-settings: "tnum" on, "lnum" on;
    color: #242424;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  img {
    padding: 10px 0;
  }
  .news__div {
    padding: 40px 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #242424;
    opacity: 0.8;
  }
}

.oido__container {
  padding: 30px 0;
}

.doler__div {
  text-align: center;
  padding: 30px 0;
  p {
    padding: 10px 0;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.04em;
    color: #242424;
    opacity: 0.8;
  }
}

#newsletter {
  position: relative;
  padding: 170px 0;
  .newsletter__container {
    position: absolute;
    bottom: -57%;
    width: 1300px;
    height: auto;
    padding: 64px 297.5px 64px 297.5px;
    background: #bb2339;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 22px 30px 95px 1px rgba(86, 86, 86, 0.2);
    border-radius: 20px;
  }
  .newsletter__cont--title {
    h6 {
      padding-bottom: 25px;
      font-weight: 700;
      font-size: 23px;
      line-height: 130%;
      letter-spacing: 0.04em;
      text-align: center;
      text-transform: capitalize;
      font-feature-settings: "tnum" on, "lnum" on;
      color: #ffffff;
    }
    h2 {
      padding-bottom: 24px;
      font-weight: 500;
      font-size: 48px;
      line-height: 130%;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      font-feature-settings: "tnum" on, "lnum" on;
      color: #ffffff;
    }
    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 175%;
      text-align: center;
      letter-spacing: 0.04em;
      color: #ffffff;
    }
    .newsletter__cont--input {
      margin-top: 64px;
      form {
        display: flex;
        column-gap: 32px;
        #email {
          width: 100%;
          height: 52px;
          padding: 0 19px;
          font-weight: 500;
          font-size: 16px;
          line-height: 175%;
          letter-spacing: 0.04em;
          text-transform: capitalize;
          font-feature-settings: "tnum" on, "lnum" on;
          color: #fff;
          background: transparent;
          border: 1px solid rgba(245, 239, 219, 0.5);
          border-radius: 100px;
          &::placeholder {
            color: #aaaaaa;
          }
        }
        #submit {
          width: 144px;
          height: 52px;
          font-weight: 700;
          font-size: 16px;
          line-height: 175%;
          letter-spacing: 0.04em;
          color: #ffffff;
          background: transparent;
          border: 1px solid #ffffff;
          border-radius: 100px;
          &:hover {
            transition: 0.3s;
            background: rgba(255, 80, 80, 0.625);
          }
        }
      }
    }
  }
}

#footer {
  padding: 292px 0px 40px 0px;
  background: #bb2339;
  .footer__container {
    .footer__cont--top {
      display: flex;
      column-gap: 150px;
      .footer-1 {
        padding-top: 30px;
        .p1 {
          padding-bottom: 24px;
          font-weight: 400;
          font-size: 32px;
          line-height: 130%;
          text-align: center;
          letter-spacing: 0.04em;
          text-transform: capitalize;
          font-feature-settings: "tnum" on, "lnum" on;
          color: #ffffff;
        }
        .p2 {
          padding-bottom: 10px;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          letter-spacing: 0.04em;
          color: #ffffff;
        }
        .p3 {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          letter-spacing: 0.04em;
          color: #ffffff;
        }
      }

      .footer-2 {
        .footer--logo {
          display: grid;
          justify-content: center;
          margin-bottom: 32px;
        }
        .p4 {
          padding-bottom: 45px;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          letter-spacing: 0.04em;
          color: #ffffff;
        }
        .footer--icons {
          display: flex;
          justify-content: center;
          gap: 15px;
        }
      }
      .footer-3 {
        padding-top: 30px;
        .p5 {
          padding-bottom: 24px;
          font-weight: 400;
          font-size: 32px;
          line-height: 130%;
          text-align: center;
          letter-spacing: 0.04em;
          text-transform: capitalize;
          font-feature-settings: "tnum" on, "lnum" on;
          color: #ffffff;
        }
        .p6 {
          padding-bottom: 12px;
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          letter-spacing: 0.04em;
          color: #ffffff;
        }
        .p7 {
          font-weight: 400;
          font-size: 16px;
          line-height: 26px;
          text-align: center;
          letter-spacing: 0.04em;
          color: #ffffff;
        }
      }
    }
    .footer__cont--bottom {
      margin-top: 80px;
      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 175%;
        text-align: center;
        letter-spacing: 0.04em;
        color: #ffffff;
      }
    }
  }
}
